    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The Concept</h2>
                <p>It's unformal and community based. You want to give a workshop or a talk? Do it. You want to build a project with others? Do it. This is also a good time for uncoding activities (like sports!) and for knowing each other better. It comes from <a href="http://railscamps.com/">the original RailsCamp</a>.</p>

                <h2>Code Of Conduct</h2>

                <p>We are dedicated to provide a harassment-free camp for everyone. We do not tolerate harassment and unappropriate behavior. We follow the same <a href="http://2015.arrrrcamp.be/coc/">Code of Conduct than Arrrrcamp</a>.</p>

                <h2>The package</h2>

                <p>The price of 100€ includes 2 nights, food, soft-drinks and light beers, and a membership to the new association Ruby Belgium.</p>

                <h2>Organizers</h2>

                <p>The event is organized by <a href="https://twitter.com/_toch">Christophe</a> and <a href="https://twitter.com/yann_ck">Yannick</a>.</p>

                <h2>When and Where</h2>

                <p>It is in <a href="http://www.ajtilff.be/">Tilff</a> (check
                the map below) during the last weekend of August 2015. From
                Friday evening the 28th August to Sunday afternoon the 30th
                August.</p>

            </div>
        </div>
    </section>
