    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The Concept</h2>
                <p>It's non-formal and community based. You want to give a
                workshop or a talk? Do it. You want to build a project with
                others? Do it. This is also a good time for non coding
                activities (like sports!) and for knowing each other better.
                It comes from <a href="http://railscamps.com/">the original
                RailsCamp</a>.</p>

                <p>It is supported by <a href="http://rubybelgium.be">Ruby
                Belgium</a></p>

                <h2>Code Of Conduct</h2>

                <p>All participants of the Rubycamp are required to agree with
                the <a href="https://github.com/brug-be/code_of_conduct">code of conduct</a>
                of Ruby Belgium. Organisers will enforce this code throughout the event.
                We are expecting cooperation from all participants to help
                ensuring a safe environment for everybody.</p>

                <h2>The package</h2>

                <p>The price of 120€ includes 2 nights, food, soft-drinks and light beers.</p>
                <p>If you don't sleep over, it's 95€. If you come only one day,
                it's 45€. If you join us only for Friday evening, it's 20€ and
                at finally for Saturday evening and the whole of Sunday you will
                pay 75€.</p>

                <h2>Organizers</h2>

                <p>The event is organized by <a
                  href="https://twitter.com/@nysthee">Thomas</a> and <a
                  href="https://twitter.com/@TomaszRas">Tomasz</a>.</p>

                <h2>When and Where</h2>

                <p>It is in <a href="http://www.ajtilff.be/">Tilff</a> (check
                the map below) during the second weekend of February 2016. From
                Friday evening the 12th of February until Sunday afternoon the
                14th of February.</p>

                <h2>The venue</h2>

                <p>We will spend the week-end on a beautiful castle, featuring
                all the necessities for indoor as well as outdoors activities.</p>

                <p>From the coding sessions to the sports and outside leisure,
                everything is in place to spend a great time together.</p>

                <p><img alt="The Castle" src="img/castle.jpg" width="100%" /></p>

                <p>Tilff is <a href="http://www.sitilff.be/venir/venir-a-tilff/">
                accessible by bike, train, bus, or car.</a></p>

            </div>
        </div>
    </section>
