    <!-- Download Section -->
    <section id="reservation" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Register</h2>
                    <p>To register, just send a message to the organizers. They will confirm you the reservation and send you the payment details.</p>
                    <a href="mailto:rubycamp@brug.be" class="btn btn-default btn-lg">Register</a>
                </div>
            </div>
        </div>
    </section>
