    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">RubyCamp Belgium 2016</h1>
                        <h2>The winter edition</h2>
                        <p class="intro-text">A code retreat during a whole weekend in Belgium with fellow Rubyists.<br/>A good time to share, pair, learn, build, and code.<br/>This is supported by <a href="http://rubybelgium.be">Ruby Belgium</a>.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
